* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background: #eee;
  }

  a {
    color: #F2583E;
  }
  
  header {
    background-color: #2B3E42;
    padding: 1em 2em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  header h1 {
    color: #fff;
    font-family: 'Space Mono', monospace;
    font-weight: 200;
  }
  
  footer {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 2rem;
    color:#2B3E42;
    font-size: .75em;
  }
  
  .wrapper{
    padding: 2em;
  }

  /* Blurb and Posts CSS*/
  .card{
    width: 22%;
    font-size: .75em;
    box-shadow: 0 2px 5px #ccc;
    margin-bottom: 2em;
  }

  .blurb{
    background-color: #2B3E42;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .blurb h2{
    font-family: 'Space Mono', monospace;
    font-size: 1.4em;
  }

  /* post / Post CSS*/
  .post {
    background-color: white;
    color: #747E80;
  }

  .postImg{
    max-width: 100%;
  }

  .postDescription{
    margin: 10px;
    color: #F2583E;
  }

  .postText{
    background-color: #e5efec;
    color: #2B3E42;
    margin-top: 10px;
    padding: 5px;
    border-left: solid 1px #F2583E;
  }
  .postFooter {
    background-color: #D5E1DD;
    color: #F2583E;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  .postLinks{
    display: flex;
    align-content:center;
    justify-content: center;
  }

  .postLinkImg{
    width: 20px;
    height: 20px;
    background-size: contain;
  }

  button{
    border:none;
    background: none;
  }

  button:hover{
    cursor: pointer;
  }

  .starFill{
    background-image: url('./assets/starFill.svg');
  }

  .starOutline{
    background-image: url('./assets/starOutline.svg');
  }

  .shareImageIcon{
    margin-left: 5px;
    background-image: url('./assets/shareIcon.svg');
  }

  /* 
  TOOLTIP
  https://www.w3schools.com/css/css_tooltip.asp
  */

  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: #F2583E;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -40px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #F2583E transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  /* LOADING CSS */
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  /* MEDIA QUERIES*/
  @media (max-width: 1024px) {
    .card{
      width: 45%;
    }
  }

  @media (max-width: 830px) {
    .card{
      width: 42%;
    }
  }

  @media (max-width: 600px) {
    .card{
      width: 85%;
    }
  }

  
  